
.vs/Mysql_Project/FileContentIndex/read.lock
.vs/Mysql_Project/FileContentIndex/e5fd1158-9595-4813-a8e1-388308ca156c.vsidx
.vs/Mysql_Project/FileContentIndex/read.lock
*.vsidx
*.vsidx
*.vsidx
.vs/Mysql_Project/FileContentIndex/read.lock
*.vsidx
*.vsidx
.vs/Mysql_Project/FileContentIndex/8996ce17-5649-4939-bbd3-4948a92ba701.vsidx
.vs/Mysql_Project/FileContentIndex/7e7c740b-3431-43ba-a088-de6caf6d1d92.vsidx
.vs/Mysql_Project/FileContentIndex/7b162712-069e-4393-b26e-a7bc6d67909e.vsidx
.vs/Mysql_Project/FileContentIndex/read.lock
.vs/Mysql_Project/FileContentIndex/7b162712-069e-4393-b26e-a7bc6d67909e.vsidx
.vs/Mysql_Project/FileContentIndex/7e7c740b-3431-43ba-a088-de6caf6d1d92.vsidx
.vs/Mysql_Project/FileContentIndex/8996ce17-5649-4939-bbd3-4948a92ba701.vsidx
.vs/Mysql_Project/FileContentIndex/7b162712-069e-4393-b26e-a7bc6d67909e.vsidx
.vs/Mysql_Project/FileContentIndex/7b162712-069e-4393-b26e-a7bc6d67909e.vsidx
.vs/Mysql_Project/FileContentIndex/7e7c740b-3431-43ba-a088-de6caf6d1d92.vsidx
.vs/Mysql_Project/FileContentIndex/8996ce17-5649-4939-bbd3-4948a92ba701.vsidx
.vs/Mysql_Project/FileContentIndex/e5fd1158-9595-4813-a8e1-388308ca156c.vsidx
.vs/Mysql_Project/FileContentIndex/read.lock
.vs/Mysql_Project/v17/Browse.VC.db
.vs/Mysql_Project/v17/ipch/AutoPCH/3a2196f62078b5b8/MAIN.ipch
.vs/Mysql_Project/v17/Browse.VC.db
*.db-shm
*.opendb
*.db-wal
*.ipch
*.db
